@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch%27);
.head{
    font-family:'cabin sketch', cursive;
    position: relative;
    z-index: 1;
    background: #ccc3c4;
    opacity: 99%;
    max-width: 260px;
    margin: 200px auto 100px;
    padding: 10px 45px 30px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.mid{
    font-family: 'cabin sketch', cursive;
    position: relative;
    z-index: 1;
    background: #ccc3c4;
    opacity: 99%;
    max-width: 260px;
    margin: auto auto auto;
    padding: 25px 30px 30px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
 a:visited, a:link, a:active
{
    text-align: left;
    color: #5c5c5c;
    text-decoration: none;   
}
a:hover{
    text-align: left;
    color: #353535;
    text-decoration: none;
 }

